
<div id="container">
	<header class="activity-container">
		<h1>Crosstalk</h1>
		<div class="group">
			<label for="message">Message</label>
			<input type="text" name="message" id="message" placeholder="What's on your mind?" />
		</div>
		<div class="group">
			<label for="recipient">Group</label>
			<select name="group" id="recipient">
				<option>Trust</option>
				<option>Unit</option>
				<option>Group</option>
			</select>
		</div>
		<input type="submit" name="send" value="Send" />
		<div id="send-activity" class="activity"></div>
	</header>
	<div id="messages" class="activity-container">
		<div id="messages-container">
			<article class="message">
				<header><span>Elaine Jacobs</span>&nbsp;&nbsp;&#x25B6;&nbsp;&nbsp;<span>Homebirth</span></header>
				<img src=""/>
				<span class="message-content">
					Well here's the thing....i just couldn't bear to leave you all, so I am returning to the homebirth team in January as team leader!!...The homebirth meeting will be a little earlier in January 16/01/13 for reasons I will explain when I see you all. Have a great Christmas and a wonderful 2013
				</span>
				<footer>
					<span class="message-timestamp">Sent 9:34PM 4th January 2013</span>
				</footer>
			</article>
		</div>
		<div id="messages-activity" class="activity"></div>
	</div>
</div>